@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@400;700&family=Noticia+Text&family=Pixelify+Sans&family=Roboto:wght@400;500;700&display=swap');


body {
  padding: 0px;
  margin: 0px;
  font-family: 'Noticia Text', serif;
}

.main {
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #060606;
  display: flex;
  /* align-items: end; */
  justify-content: end;
  
}

.material-symbols-outlined {
  color: white;
  padding-top: 13px;
  vertical-align: middle;
  margin-right: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.mini-logo {
  position: relative;
  left: -1430px;
}

.material-symbols-rounded {
  color: white;
  vertical-align: middle;
  margin-right: 10px;
  padding-top: 13px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.material-symbols-rounded {
  color: white;
  vertical-align: middle;
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}


.my-cart-text {
  padding-top: 13px;
  color: white;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  max-width: 370px;
}

nav{
  background-color: #f5f5f5;;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

nav ul li {
  margin: 25px;
  /* padding: 10px; */
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #060606;
}

.mens-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.mens-category div {
  padding: 10px;
}

.sidebar {
  width: 300px;
  display: inline-block;
  /* border: #060606 solid 1px; */
}

.sidebar select {
  width: 300px;
  padding: 5px;
}


.sidebar-checkbox {
  display: flex;
  flex-direction: column;
}

.sidebar-text {
  margin-top: 40px;
}

.products-selection {
  width: 1200px;
}

.products{
  display: inline-block;
}
/* .products p {
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px;
  display: inline;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 750px;
} */

.sale1 {
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px;
  display: inline;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 670px;
}

.sale2 {
  background-color: black;
  color: white;
  /* text-align: left; */
  padding: 10px;
  display: inline;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 650px;
}

.sale3{
  background-color: black;
  color: white;
  /* text-align: left; */
  padding: 10px;
  display: inline;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 300px;
}

.products div img {
  width: 350px;
  cursor: pointer;
}

.products-prices {
  text-align: center;
}

.orig-price {
  text-decoration: line-through;
}


.contacts{
  background-color: #060606;
  height: 500px;
  width: 100%;
  font-family: 'Noticia Text', serif;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  padding-top: 70px;

}

.contacts div ul li {
  color: white;
  list-style: none;
  cursor: pointer;
  padding: 5px;
  margin-left: -400px;
}

.contacts div p {
  color: white;
  padding: 5px;
  margin-left: -400px;
}
.contacts div input {
  width: 700px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: -400px;
  margin-right: 40px;
}

.contacts div button {
  color: white;
  border: white solid 1px;
  border-radius: 50%;
  background-color: black;
  padding: 10px 20px;
}

.items {
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
}